.messages {
  flex-grow: 1;
}

.message {
  display: flex;
  align-items: flex-start;
  padding: 8px;
}

.message-content {
  padding: 0px 20px;
}

.message-content * {
  margin: 3px;
}

.send-a-message {
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}